html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    display: grid;
}

#photoSection {
    background-color: transparent;
    height: 85vh;
    margin-top: 10vh;
    display: flex;
}

section img{
    width: 100%;
}

.photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-polaroid-padding {
    background: linear-gradient(217deg, rgba(255, 180, 180, 0.5), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(143, 255, 143, 0.5), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(255, 255, 255, 0.5), rgba(0,0,255,0) 70.71%);
    padding: 4% 4% 1% 4%;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.6);
}

.photo p {
    font-size: 2cqh;
}

.photo-left-text {
    color: black;
}

.photo-right-text {
    color: black;
    float: right;
}

.photo-text {
    padding-top: 1.2cqh;
}
