html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    display: grid;
}

#photoSection {
    background-color: transparent;
}

section img{
    width: 100%;
}

.WIP {
    font-size: 30px;
    margin: 1px;
    line-height: 45vh;
    text-align: center;
    height: 85vh;
    width: 100vw;
}