
:root {
    /* Proficiency Colors */
    --proficient: #00ffa2;
    --intermediate: #6effca;
    --fair: #b5ffe4;

    /* Proficiency Percentages} */
    --perPro: 80%;
    --perInter: 60%;
    --perFair: 40%;

    --initialPercent: 0%;
}

.mySkills {
    box-sizing: border-box;
    margin-bottom: 5vh;
}

#skill-div {
    margin:auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

#skill-div>p{
    font-size: 2em;
    padding-bottom: 0px;
    margin:35px 0px 5px 10px;
}

#skill-title {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0px;
}

.mySkills * {
    box-sizing: border-box;
    /* border-radius: 2em; */
}

.skill-container {
    width: 100%; 
    background-color: #eee;
}
  
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: white;
    font-size: 1.5em;
}




/*     Sets initial percentage     */

.java {width: var(--initialPercent); background-color: var(--proficient);}
.python {width: var(--initialPercent); background-color: var(--intermediate);}
.js {width: var(--initialPercent); background-color: var(--fair);}
.css {width: var(--initialPercent); background-color: var(--fair);}
.html {width: var(--initialPercent); background-color: var(--fair);}


/* Attaches the animation to grow to final percentage */

#skill-div.skillAnim .java {
    animation: proficientAnim 2s ease-in-out forwards;
}

#skill-div.skillAnim .python {
    animation: intermediateAnim 2s ease-in-out forwards;
}

#skill-div.skillAnim .js {
    animation: fairAnim 2s ease-in-out forwards;
}

#skill-div.skillAnim .css {
    animation: fairAnim 2s ease-in-out forwards;
}

#skill-div.skillAnim .html {
    animation: fairAnim 2s ease-in-out forwards;
}


/* Our Various Animations */

@keyframes proficientAnim {
    to {
        width: var(--perPro);
    }
}

@keyframes intermediateAnim {
    to {
        width: var(--perInter);
    }
}


@keyframes fairAnim {
    to {
        width: var(--perFair);
    }
}
