* {
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: rgb(0, 0, 0);
  margin: 0;
}

.nav_logo {
  font-size: 20px;
  text-decoration: none;
  padding: 20px;
  font-style: italic;
  font-weight: bolder;
}


.nav_bar {
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
}

nav {
  padding-right: 40px;
}

nav p {
  float: left;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}

nav li{
  display: inline-block;
  overflow: hidden;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  margin: 0;
  display: block;
}

nav a:hover{
  transition: transform 0.3s ease;
  font-weight: bold;
  color: aliceblue;
  transform: translateY(12px);
}