:root {
    --baseColor: #87b9ff;
}

#project-section {
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
    height: 85vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2.5vw;
    box-sizing: border-box;
    background-color: white;
    padding: 5vw;
}

.projects {
    height: 100%;
    width: 100%;
    background-color: var(--baseColor);
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
}

.projects>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.projects:hover p{
    top: 0%;
    background-color: rgba(0, 0, 0, 0.836);
}

.projects>p {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.501);
    top: 80%;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
    font-size: 20px;
}

.project-name {
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
}

.language {
    font-size: 20px;
}