@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive');

:root {
    --buttonColorInitial: transparent;
    --buttonColorClicked: transparent;
    --buttonColorHover: #3c8dff13;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--baseColor);
}

#first-section {
    background: linear-gradient(var(--baseColor), var(--baseColor2));
}

/***************************** About-Me Text ********************************/

#about-me-div {
    margin-top: 5vh;
    padding-top: 5vh;
}

#right-column {
    align-content: center;
    padding: 7vw;
}

#right-column span{
    font-size: 5vh;
}

#right-column p{
    font-size: 3.5vh;
    font-weight: bold;
    display: inline;
}

#myName {
    color: var(--baseColor2)
}

/************************** My Polaroid Image ***********************/

#myImage {
    align-content: center;
    margin-top: 0vh;
    margin-bottom: 0vh;
}

#polaroidPadding{
    background: linear-gradient(217deg, rgba(255, 210, 210, 0.603), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(181, 252, 181, 0.521), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(199, 199, 255, 0.527), rgba(0,0,255,0) 70.71%);
    width: 40vh;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    box-shadow: 0px 5px 25px rgba(46, 62, 77, 0.623);
}

#polaroidPadding p{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 3vh;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    color:rgb(57, 57, 202);;
}


#polaroidPadding img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/********************** Polaroid Animation Stuff ************************/

.leaveIntersectionAnim {
    animation: disappearAnim 2s ease-in-out forwards;
}

@keyframes disappearAnim {
    /* for some reason, this works because of the conflict w/ floatingAnim */
    100% {
        transform: translateY(100vh);
    }
}

.intersectionAnim {
    animation: floatingAnim 2s ease-in-out infinite, appearAnim 2s ease-in-out;
}

@keyframes appearAnim {
/* for some reason, this works because of the conflict w/ floatingAnim */
    0% {
        transform: translateY(100vh);
    }
}

@keyframes floatingAnim {
    0% {
        transform: translate(0, -10px);
        animation-timing-function:ease-in-out
    }

    50% {
        transform: translate(0, 0px);
        animation-timing-function:ease-in-out
    }

    100% {
        transform: translate(0, -10px);
        animation-timing-function:ease-in-out
    }
}

/******************   Linkedin and Resume Buttons   ********************/

.buttonsDiv {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-top: 0px;
  }
  
.buttonsDiv button{
    flex: 1;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: 3px solid white;
    background-color: transparent;
    margin-right: 1vh;
    width: 20vh;
}

.buttonsDiv button:hover {
    background-color: var(--buttonColorHover) !important;
    cursor: pointer;
    box-shadow: 5px 5px 25px rgba(132, 196, 255, 0.459);
    border-color: var(--baseColor);
    color: var(--baseColor);
    transition: all 0.3s ease-in-out;
}


.buttonsDiv button:focus {
    outline: none;
    animation: focusButton 0.2s ease-in-out;
}

@keyframes focusButton {
    to {
        transform: scale(1.1);
        background-color: var(--buttonColorClicked);
    }
}

