@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive');

:root {
  --baseColor: #87b9ff;
  --baseColor2: #c9ffe8;
  --baseColor3: #deffef;

  --buttonColorInitial: #87b9ff;
  --buttonColorClicked: #2f64a8;
  --buttonColorHover: #a5cafa;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.first-section {
  display: flex;
  margin: 0px;
  height: 85vh;
  background-color: var(--baseColor);
  width: 100vw;
  justify-content: space-between;
  background: linear-gradient(var(--baseColor), var(--baseColor2));
}

.first-section p {
  margin: 0px;
}

/*************************** Polaroid Image **********************************/

.myImage {
  max-width: fit-content;
  margin-right: 15vw;
  display:flex;
  align-items: center;
  justify-content: center;
}

.polaroid-div {
  overflow: visible;
  z-index: 101;
  background: linear-gradient(217deg, rgba(255, 210, 210, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(181, 252, 181, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(199, 199, 255, 0.8), rgba(0,0,255,0) 70.71%);
  padding: 15px 15px 10px 15px;
  box-shadow: 0px 5px 25px #16161679;
  /* animation: floatingAnim 1.5s ease-in-out infinite; */
  transform: translateY(100vh);
}

.myImage img{
  width: 20vw;
  margin: 0px;
}

.myImage p{
  color: rgb(242, 255, 235);
  font-family: 'Cedarville Cursive', cursive;
  font-size: 30px;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
  font-style: italic;
}

.leaveIntersectionAnim {
  animation: disappearAnim 2s ease-in-out forwards;
}

@keyframes disappearAnim {
  /* for some reason, this works because of the conflict w/ floatingAnim */
  0% {
    transform: translateY(0vh);
  }
}

.intersectionAnim {
  animation: floatingAnim 1.5s ease-in-out infinite, appearAnim 2s ease-in-out;
}

@keyframes appearAnim {
  /* for some reason, this works because of the conflict w/ floatingAnim */
  0% {
    transform: translateY(100vh);
  }
}

@keyframes floatingAnim {
  0% {
      transform: translate(0px, -7px);
      animation-timing-function:ease-in-out
  }

  50% {
      transform: translate(0px, 0px);
      animation-timing-function:ease-in-out
  }

  100% {
      transform: translate(0px, -7px);
      animation-timing-function:ease-in-out
  }
}

#my-name {
  font-size: 50px;
  color: 	var(--baseColor2);
  justify-content: left;
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
}

@keyframes bobbingAnim {
  0% {
      transform: translate(0px, -5px);
      animation-timing-function:ease-in-out
  }

  50% {
      transform: translate(0px, 0px);
      animation-timing-function:ease-in-out
  }

  100% {
      transform: translate(0px, -5px);
      animation-timing-function:ease-in-out
  }
}

.about-me:first-child {
  font-size: 30px;
}

.about-me {
  text-wrap: nowrap;
  font-size: 27px;
  color: 	var(--baseColor3);
  font-weight: bold;
}

.first-section div:first-child{
  display: inline;
  flex-grow: 1;
  margin: auto;
}

#about-me-div {
  align-content: center;
  margin: 20vh
}




/******************* Linkedin and Resume Buttons ************************/

.buttonsDiv {
  display: flex;
  width: 20vw;
  gap: 5px;
  margin-top: 10px;
}

.buttonsDiv button{
  flex: 1;
  color: var(--baseColor3);
  font-size: 20px;
  background: var(--buttonColorInitial);
  padding: 5px 10px 5px 10px;
  border: transparent;
  border-radius: 10px;
}

.buttonsDiv button:hover{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--buttonColorHover);
}

.buttonsDiv button:focus {
  animation: focusButton 0.2s ease-in-out
}

@keyframes focusButton {
  to {
    transform: scale(1.1);
    background-color: var(--buttonColorClicked);
  }
}