:root {
    --baseColor: #87b9ff;
    --baseColor2: #c9ffe8;
    --baseColor3: #deffef;
  }

@keyframes fadeOutAnimation {
    /* set this to opacity 0 with css once its over */
    80% {
      transform: translateY(0);
    }
  
    100% {
      opacity: 1;
      transform: translateY(100vh);
    }
  }
  
#intro-screen {
  opacity: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: var(--baseColor);
  z-index: 1000;
  display: grid;
  place-content: center;
}
  
#intro-screen h1 {
  white-space: nowrap;
  padding: 0;
  margin: 0;
  font-family: monospace;
  position: relative;
  grid-area: overlap;
}
  
.intro-p {
  padding: 0;
  margin: 0;
  font-family: monospace;
  position: relative;
  grid-area: overlap;
  z-index: 1002;
  animation: removeblinking step-end forwards;
  animation-delay: 7s;
}
  
.intro-p2 {
  z-index: 1001;
}

@media (max-width: 1000px) {
  #intro-screen h1{
    font-size: 1.5em;
    letter-spacing: 0px;
  }

  .intro-p {
    font-size: 1.5em;
    letter-spacing: 0px;
  }

  .intro-p2 {
    font-size: 1.5em;
    letter-spacing: 0px;
  }
}

@media (min-width: 1000px) {
  #intro-screen h1{
    font-size: 3.5em;
    letter-spacing: 10px;
  }

  .intro-p {
    font-size: 3.5em;
    letter-spacing: 10px;
  }

  .intro-p2 {
    font-size: 3.5em;
    letter-spacing: 10px;
  }
}


.intro-p::before, 
.intro-p::after,
.intro-p2::before,
.intro-p2::after,
.intro-p3::before,
.intro-p3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
  
.intro-p2::before {
  background: var(--baseColor);
  animation: blinking2 1s step-end infinite, typewriter2 1.5s steps(23) forwards, removeblinking forwards;
  animation-delay: 7s, 7s, 9s;
  border-left: 1vw transparent white;
}

.intro-p::before {
  background: var(--baseColor);
  animation: showbar 1s step-end forwards, blinking 1s step-end infinite, typewriter 1s steps(3) forwards, typewriter2 1.5s steps(20) forwards, typewriter3 1.5s steps(23) forwards, removeblinking forwards;
  animation-delay: 0s, 0s, 0.3s, 1.5s, 3.7s, 7s;
  border-left: 1vw transparent white;
}

.intro-p3 {
  z-index: 1001;
  position: absolute;
  top: 1.5em;

  /* There's a weird abrupt shift before the shrinking, I could just add an animation to fade out the words to hide it, 
  then fade back in */
  animation: fullblinking 1s ease-in-out infinite;
  animation-delay: 12s;
}

.intro-p3::before {
  background: var(--baseColor);
  animation: blinking2 1s step-end infinite, typewriter2 1.5s steps(23) forwards, removeblinking forwards;
  animation-delay: 9s , 9.5s, 11.5s;
  border-left: 1vw transparent white;
}

@keyframes typewriter {
  50% {
    transform: translateX(13%);
  }
  100% {
    transform: translateX(13%);
  }
}

@keyframes typewriter2 {
  100% {
    transform: translateX(100%);
  }
}

@keyframes typewriter3 {
  100% {
    transform: translateX(0%);
  }
}

@keyframes blinking {
  50% {
    border-left-color: transparent;
  }
}

@keyframes blinking2 {
  50% {
    border-left: 1vw solid white;
  }
}

@keyframes removeblinking {
  100% {
    border-left-color: transparent;
    opacity: 0;
  }
}

@keyframes fullblinking {
  50% {
    opacity: 0;
  }
}

@keyframes shrink {
  50% {
    text-align: center;
    font-size: 3.5vw;
  }
  to {
    font-size: 3vw;
    text-align: center;
  }
}

@keyframes align {
  to {
    justify-content: center;
  }
}

@keyframes showbar {
  50% {
    border-left: transparent white;
  }
  100% {
    border-left: 1vw solid white;
  }
}