
:root {
    --titleColor: #a9befa;
    --textColor: rgb(239, 246, 255);

    --baseColor1: #87b9ff;
    --baseColor2: #c9ffe8;
    --color3: #f1ffca;

    /* Proficiency Colors */
    --proficient: #87b9ff;
    --intermediate: #a7ccff;
    --fair: #cbe1ff;

    /* Proficiency Percentages} */
    --perPro: 80%;
    --perInter: 60%;
    --perFair: 40%;

    --initialPercent: 0%;

    --barDelay: .8s;
}

.mySkills {
    position: relative;
    z-index: 110;
    box-sizing: border-box;
    background: linear-gradient(to bottom, var(--baseColor2), var(--baseColor1));
    color: var(--baseColor1);
    padding-bottom: 0;
}

#skill-div {
    margin:auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

#skill-div>p{
    font-size: 2em;
    padding-bottom: 0px;
    margin:35px 0px 5px 10px;
    color: var(--textColor);
    font-weight: bold;
}

#skill-title {
    text-align: center;
    font-weight: bold;
    margin: 0px;
}

#skill-title h1{
    margin: 0px;
    font-size: 7vh;
    padding-top: 20px;
    color: var(--titleColor);
}

.mySkills * {
    box-sizing: border-box;
    border-radius: 1em;
}

.skill-container {
    width: 0%; 
    background-color: #fff;
}

.skill-container.backAnim {
    animation: backBarAnim 1.8s ease-out forwards;
}

@keyframes backBarAnim {
    to {
        width: 100%;
    }
}
  
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 0px;
    color: white;
    font-size: 1.5em;
}

.skillAnim {
    border-radius: inherit;
}


/*     Sets initial percentage     */

.java {width: var(--initialPercent); background-color: var(--proficient);}
.python {width: var(--initialPercent); background-color: var(--fair);}
.js {width: var(--initialPercent); background-color: var(--intermediate);}
.css {width: var(--initialPercent); background-color: var(--intermediate);}
.html {width: var(--initialPercent); background-color: var(--intermediate);}
.reactjs {width: var(--initialPercent); background-color: var(--intermediate);}
.nodejs {width: var(--initialPercent); background-color: var(--fair);}
.mongodb {width: var(--initialPercent); background-color: var(--fair);}

/* Attaches the animation to grow to final percentage */
 

.skillAnim.java{
    animation-delay: var(--barDelay);
    animation: proficientAnim 2s ease-in-out forwards;
}

.skillAnim.python {
    animation-delay: var(--barDelay);
    animation: fairAnim 2s ease-in-out forwards;
}

.skillAnim.js {
    animation-delay: var(--barDelay);
    animation: intermediateAnim 2s ease-in-out forwards;
}

.skillAnim.css {
    animation-delay: var(--barDelay);
    animation: intermediateAnim 2s ease-in-out forwards;
}

.skillAnim.html {
    animation-delay: var(--barDelay);
    animation: intermediateAnim 2s ease-in-out forwards;
}

.skillAnim.reactjs{
    animation-delay: var(--barDelay);
    animation: intermediateAnim 2s ease-in-out forwards;
}

.skillAnim.nodejs {
    animation-delay: var(--barDelay);
    animation: fairAnim 2s ease-in-out forwards;
}

.skillAnim.mongodb {
    animation-delay: var(--barDelay);
    animation: fairAnim 2s ease-in-out forwards;
}

/* Our Various Animations */

@keyframes proficientAnim {
    to {
        width: var(--perPro);
    }
}

@keyframes intermediateAnim {
    to {
        width: var(--perInter);
    }
}


@keyframes fairAnim {
    to {
        width: var(--perFair);
    }
}
