:root {
    --baseColor: #87b9ff;
    --baseColor2: #c9ffe8;
    --baseColor3: #deffef;
  }

.spacer {
    margin: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    margin: 0;
    padding: 0;

    /** Kind of ridiculous - but this removes small gaps between sections**/
    font-size: 0;
}


.spacer.spacer1 {
    z-index: 110;
    background-color: transparent;
    position: relative;
    /* Not sure where - but I somehow created a 25px margin or padding gap somwewhere in first section */
    /* Made it 27 to accodomate polaroid img */
}

.spacer.spacer2 {
    background-color: #87b9ff;
    position: relative;
    /* Not sure where - but I somehow created a 25px margin or padding gap somwewhere in first section */
    /* Made it 27 to accodomate polaroid img */
    top: 100%;
}

.spacer img {
    margin: 0;
    padding: 0;
}